<!DOCTYPE html>

<html>
<head>
    <title>Error Page</title>
    <link rel="icon" href="/img/weather.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    <h1><p>{{pageError}}</p></h1>
    </div>
    {{>footer}}
</body>
</html>